<div class="modal-header">
	<h3 class="modal-title">
		<i class="fa fa-cube"></i> {{vm.title}} 
		<small> - {{vm.entity.title}}</small>	
		<button class="btn btn-xs btn-danger pull-right" type="button" ng-hide="vm.isNew" ng-click="vm.delete()">Delete</button>
	</h3>
</div>

<button type="button" class="btn btn-primary">Start</button>
<div class="modal-footer">	                      
	<a class="btn btn-link pull-left" type="button" ui-sref="sprint({sprintId:vm.entity.id})" ng-click="vm.cancel()"> <i class="fa fa-pencil"></i> Full edition</a>
	<button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>