<section id="task-view" class="mainbar">
	<section class="matter">
		<div class="container">

			<h3>{{vm.tasks.length}} tasks in backlog
				<a class="btn btn-primary btn-lg pull-right" ui-sref="task()"><i class="fa fa-cube fa-lg"></i> Add task</a>
			</h3>
			
			<div class="button-filter text-center">
				<button type="button" class="btn btn-primary" ng-class="{active: type.isActive}" ng-click="type.isActive=!type.isActive" ng-repeat="type in vm.TYPES track by type.id"> <i ng-class="type.logo"></i> {{type.title}}</button>

				<div class="btn-group" dropdown is-open="status.isopen" style="margin-left:5%">
					<button id="single-button" type="button" class="btn btn-primary" dropdown-toggle>Order by <span class="caret"></span></button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
						<li class="disabled" role="menuitem"><a href="#">Number</a></li>
						<li class="disabled" role="menuitem"><a href="#">Title</a></li>
						<li class="disabled" role="menuitem"><a href="#">Priority</a></li>
					</ul>
				</div>

				
			</div>
			<div class="row">
				<dsc-task-card ng-repeat="task in vm.tasks | typeFilter:vm.TYPES track by task.id" entity="task" for-edition="vm.upsertModal" type="task"></dsc-task-card>
			</div>
		</div>
	</section>
</section>