<section id="task-view" class="mainbar">
	<section class="matter">
		<div class="container">

			
			
			<button class="btn btn-primary" ng-click="vm.taskEdit.$show()" ng-hide="vm.isNew || vm.taskEdit.$visible">Edit</button>
			
			
			<form class="row col-md-offset-1 col-md-10 task-info" editable-form name="vm.taskEdit" onaftersave="vm.ok()">
				<h1>Task n° 
					<span editable-number="vm.task.numero" e-name="numero" e-min="0" e-placeholder="numero">{{ vm.task.numero || '-1' }}</span>
					<small> - <span editable-text="vm.task.title" e-name="title" e-placeholder="title">{{ vm.task.title || 'no title' }}</span></small> 
				</h1>
				
				<div class="col-md-offset-1 col-md-2">Type</div>
				<div class=" col-md-8 ">
					<span editable-select="vm.task.type" e-ng-options="type as type.title for type in vm.TYPES track by type.id"><i ng-class="vm.task.type.logo"></i> {{ vm.task.type.title || 'no type' }}
					</span>
				</div>
				<div class="col-md-offset-1 col-md-2">State</div>
				<div class=" col-md-8">
					<span editable-select="vm.task.state" e-ng-options="state as state.title for state in vm.STATES track by state.id"><i ng-class="vm.task.state.logo"></i> {{vm.task.state.title || 'no state'}}</span>
				</div>
				<div class="col-md-offset-1 col-md-2">Estimation</div>
				<div class=" col-md-8">
					<span editable-number="vm.task.estimation" e-name="estimation" e-min="0" e-placeholder="estimation">{{ vm.task.estimation || '-1' }}</span>
				</div>
				<div class="col-md-offset-1 col-md-2">Content</div>
				<div class=" col-md-8">
					<span editable-textarea="vm.task.content" e-rows="7" e-cols="40">
						<pre>{{ vm.task.content || 'no description' }}</pre>
					</span>
				</div>
				<div class="col-md-offset-1 col-md-2">Priority</div>
				<div class=" col-md-8">					
					<span editable-select="vm.task.priority.level" e-ng-options="priority as priority.title for priority in vm.PRIORITIES track by priority.id">{{ vm.task.priority.level.title || 'no priority' }}</span>
					- 
					<span editable-number="vm.task.priority.point" e-name="numero" e-min="0" e-max="99" e-placeholder="priority point (from 0 to 99)">{{ vm.task.priority.point || '0' }}</span>
				</div>
				
				
				<div ng-show="vm.taskEdit.$visible" class="row col-md-offset-1 col-md-10 pull-right">
					<button class="btn btn-primary" type="submit" ng-show="vm.isNew" disabled>Save and create another</button>
					<button class="btn btn-primary" type="submit">{{vm.okTitle}}</button>
					<button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
				</div>
			</form>

			
			<div class="row col-md-offset-2 col-md-8" ng-hide="vm.isNew || vm.taskEdit.$visible">

				<h2>{{vm.task.comments.length}} comments </h2>
				<p>{{vm.task.comments || '-' }}</p>
				<button class="btn btn-default" type="button" ng-click="console.log('mock')" disabled>Add Comment</button>
			</div>
			
			
			
				

			
		</div>
	</section>
</section>