<div class="modal-header">
	<h3 class="modal-title"><i class="fa fa-user-plus"></i> {{vm.title}} 	<button class="btn btn-xs btn-danger pull-right" type="button" ng-hide="vm.isNew" ng-click="vm.delete()">Delete</button>
	</h3>
</div>
	
	<form class="form-horizontal">
		<div class="form-group">
			<label for="firstName" class="col-md-4 control-label">First name</label>
			<div class="col-md-8">
				<input type="text" class="form-control" id="firstName" ng-model="vm.member.firstName" placeholder="first name">
			</div>
		</div>
		<div class="form-group">
			<label for="lastName" class="col-md-4 control-label">Last name</label>
			<div class="col-md-8">
				<input type="text" class="form-control" id="lastName" ng-model="vm.member.lastName" placeholder="last name">
			</div>
		</div>
		<div class="form-group">
			<label for="color" class="col-md-4 control-label">Color</label>
			<div class="col-md-8">
				<input colorpicker class="form-control" id="color" type="text" ng-model="vm.member.color" ng-style="{'background-color':vm.member.color}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="role" class="col-md-4 control-label">Role</label>
			<div class="col-md-8">
				<select id="role" ng-model="vm.member.role" ng-options="role as role.title for role in vm.AvailableRoles track by role.id"></select>		
			</div>
		</div>
	</form>
<div class="modal-footer">
	<button class="btn btn-primary " type="button" ng-click="vm.ok()">{{vm.okTitle}}</button>
	<button class="btn btn-default" type="button" ng-click="vm.reset()">Reset</button>
	<button class="btn btn-warning " type="button" ng-click="vm.cancel()">Cancel</button>
</div>