<section id="member-view" class="mainbar">
	<section class="matter">
		<div class="container">

			<h3>{{vm.members.length}} members in team 
				<button class="btn btn-primary btn-lg pull-right" ng-click="vm.upsertMemberModal()"><i class="fa fa-user-plus fa-lg"></i> Add Member</button>
			</h3>
			<div class="row">
				<dsc-member-card ng-repeat="member in vm.members track by member.id" member="member" for-edition="vm.upsertMemberModal"></dsc-member-card>
			</div>

		</div>
	</section>
</section>